  <div class='scalable one-third'>
    <div>
      <i id="leads"></i><strong>Inits</strong>
      <i id="searches"></i><strong>Shows</strong>
    </div>
    <canvas id="Bar_InitsAndShows" width="<%= @canvas_width %>" height="<%= @canvas_height %>"></canvas>
  </div>
  <div class='scalable one-third'>
    <div>
      <i id="leads"></i><strong>Leads</strong>
      <i id="searches"></i><strong>Searches</strong>
    </div>
    <canvas id="Bar_LeadsAndSearches" width="<%= @canvas_width %>" height="<%= @canvas_height %>"></canvas>
  </div>

      <script type="text/javascript">
        function drawGraphs(){

          Draw_СompareFourLines(
            <%= Oj.dump(@data_widget_events['first_values']) %>,
            <%= Oj.dump(@data_widget_statistics['first_values'])%>,
            <%= Oj.dump(@data_widget_events['second_values'])%>,
            <%= Oj.dump(@data_widget_statistics['second_values'])%>,
            $("#Bar_InitsAndShows"), 10000);

          Draw_СompareFourLines(
            <%= Oj.dump(@data_widget_events['third_values'])%>,
            <%= Oj.dump(@data_widget_statistics['third_values'])%>,
            <%= Oj.dump(@data_widget_events['fourth_values'])%>,
            <%= Oj.dump(@data_widget_statistics['fourth_values'])%>,
            $("#Bar_LeadsAndSearches"), 150);

        };
      </script>

