
    <div>
    <div style="text-align:center">
    <div align=center style="display:inline-block">
      <p align=center><h2>Affiliate registration</h2></p>
      <span align=center>
        <canvas id="Bar_NewAffiliate" width="800" height="400"></canvas>
      </span>
    </div>
    <div align=center style="display:inline-block">
      <p align=center><h2> Profit</h2></p>
      <span align=center>
        <canvas id="Bar_Profit" width="800" height="400"></canvas>
      </span>
    </div>
  </div>

    <div style="text-align:center">
    <div align=center style="display:inline-block">
    <p align=center><h2>Searches</h2></p>
    <canvas id="Bar_Searches" width="800" height="400"></canvas>
    </div>
    <div align=center style="display:inline-block">
    <p align=center ><h2>Clicks</h2></p>
      <div id="inits"></div><div style="display:inline-block"><h2>Week ago</h2></div>
      <div id="shows"></div><div style="display:inline-block"><h2>Yesterday</h2></div>
      <div id="leads"></div><div style="display:inline-block"><h2>Today</h2></div><br/>
      <canvas id="Bar_Clicks" width="800" height="400"></canvas>
    </div>
    <div align=center style="display:inline-block">
    <p align=center><h2>Paid booking</h2></p>
      <canvas id="Bar_Paidbooking" width="800" height="400"></canvas>
    </div>
  </div>


  <div style="text-align:center">
    <div align=center style="display:inline-block">
    <div id="leads"></div><div style="display:inline-block"><h2>Inits</h2></div>
    <div id="searches"></div><div style="display:inline-block"><h2>Shows</h2></div><br/>
    <canvas id="Bar_InitsAndShows" width="600" height="400"></canvas>
    </div>
    <div align=center style="display:inline-block">
      <div id="leads"></div><div style="display:inline-block"><h2>Leads</h2></div>
      <div id="searches"></div><div style="display:inline-block"><h2>Searches<h2></div><br/>
      <canvas id="Bar_LeadsAndSearches" width="600" height="400"></canvas>
    </div>
  </div>
</div>

      <script type="text/javascript">
        refreshInreval = 1000*60*3
        setInterval(refreshPage, refreshInreval);
        $().ready(function(){
          drawGraphs();
        });
        function refreshPage(){
          location.reload();
        }
        function drawGraphs(){

          Draw_ThreePeriod(<%= @data_aff_searches%>, $("#Bar_Searches"), 2500 );
          Draw_ThreePeriod(<%= @data_aff_clicks%>, $("#Bar_Clicks") , 200);
          Draw_ThreePeriod(<%= @data_aff_paidbookings%>, $("#Bar_Paidbooking"), 18 );
          Draw_ThreePeriod(<%= @data_aff_amount_3periods%>, $("#Bar_NewAffiliate"), 1 );

          Draw_ThreePeriod(<%= @data_aff_profit_3periods %>, $("#Bar_Profit"), 50000)

          Draw_СompareFourLines(
            <%= Oj.dump(@data_widget_events['first_values']) %>,
            <%= Oj.dump(@data_widget_statistics['first_values'])%>,
            <%= Oj.dump(@data_widget_events['second_values'])%>,
            <%= Oj.dump(@data_widget_statistics['second_values'])%>,
            $("#Bar_InitsAndShows"), 10000);

          Draw_СompareFourLines(
            <%= Oj.dump(@data_widget_events['third_values'])%>,
            <%= Oj.dump(@data_widget_statistics['third_values'])%>,
            <%= Oj.dump(@data_widget_events['fourth_values'])%>,
            <%= Oj.dump(@data_widget_statistics['fourth_values'])%>,
            $("#Bar_LeadsAndSearches"), 150);

        };
      </script>

